.form-style{
background-color: white;;
 

}
.label-text{
  padding-right: 10px;
}
.label-text-2{
  border: 1px solid black;
  border-radius: 10px;
 width: 300px;
}

.text-height{
  height: 200px;
  margin-left:0;
  width: 90%;

  
}
.btn-submit{
  margin-left: 34%;
  border-radius: 10px;
}
.gradient-custom {
  background: linear-gradient(to right, rgb(209, 174, 174), rgb(104, 93, 88))
}
